{{#unless disableModeSelector}}
  {{en-select options=options
              label="Select a mode"
              value=mode
              on-select="changeMode"
              class="en-code-mirror-mode-selector"}}
{{/unless}}

<div class="en-code-mirror-textarea">
</div>
