<div class="abcd">
  {{en-code-mirror
    value=value
    disableModeSelector=true
    onChange="onChange"}}
</div>

<div class="efgh">
  {{en-code-mirror
    value=value
    disableModeSelector=true
    onChange="onChange"}}
</div>


  {{updated}}
